@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	padding:0px;
	margin:0px;
	border:0px;

	font-family:"Nanum Gothic", sans-serif;
	font-size:100%;
	text-decoration:none;
}
/*뼈대*/
html, body {
	height:100%;

	background-color:#606060;
}

#wrapper {
    position:relative;

    margin:0px auto;
    width:100%;
    max-width:400px;
    height:100%;

    background-color:brown;
    border:1px black solid;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.banner {
    margin:5px auto;
    width:90%;
    height:calc(1em + 10px);

    background-color:black;
    border:2px gray solid;
    border-radius:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    font-size:200%;
    font-weight:bold;
    text-align:center;
}
#title {
    position:relative;

    background-color:#000099;

    color:white;
}
    #reset {
        position:absolute;
        top:5px;
        right:5px;
        width:2.5em;
        height:calc(0.8em + 10px);

		background: #FF6A00; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #FF6A00));
		background: -ms-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: linear-gradient(to bottom, #ffffff, #FF6A00);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#FF6A00)";

		border:1px gray outset;
		border-radius:3px;

        font-size:0.8em;
    }
        #reset:hover {
            box-shadow:
                -2px 0px 10px skyblue,
                -2px 2px 10px skyblue,
                0px 2px 10px skyblue,
                2px 2px 10px skyblue,
                2px 0px 10px skyblue,
                2px -2px 10px skyblue,
                0px -2px 10px skyblue,
                -2px -2px 10px skyblue;
            cursor:pointer;
            cursor:hand;
        }
    #reset:active {
        background: #FFAA00;
    }

#image {
    margin:2px auto;
    padding:2px;
    width:90%;
    height:116px;

    background-color:white;
    border:2px gray solid;
    border-radius:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    text-align:center;
}
    #image img {
        width:auto;
        height:110px;
    }

#speed {
    color:skyblue;
}
#inventory {
    color:yellow;
}
    #inventory img {
        height:1em;
        vertical-align:bottom;
    }





#open {
    position:absolute;
    bottom:20px;
    display:block;

    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
        left:0;
        right:0;
    width:90%;
    height:2.5em;

    background: #FFFFFF; /* default */
    background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
    background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
    background: linear-gradient(to bottom, #ffffff, #A0A0A0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

    border-radius:10px;

    font-size:2.5em;
    font-weight:700;
    text-align:center;
}
    #open:hover {
        box-shadow:
            -2px 0px 10px skyblue,
            -2px 2px 10px skyblue,
            0px 2px 10px skyblue,
            2px 2px 10px skyblue,
            2px 0px 10px skyblue,
            2px -2px 10px skyblue,
            0px -2px 10px skyblue,
            -2px -2px 10px skyblue;
        cursor:pointer;
        cursor:hand;
    }
    #open:active {
        background:#dedede;
    }

#progress {
    position:absolute;
    bottom:calc(30px + 6em);

    margin-left:auto;
    margin-right:auto;
        left:0;
        right:0;
    width:90%;
    height:15px;

    background-color:black;
    border:1px gray solid;
    border-radius:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#result {
    position:absolute;
    bottom:calc(50px + 6em);
    display:block;

    margin-left:auto;
    margin-right:auto;
        left:0;
        right:0;
    margin:20px auto 0px auto;
    width:90%;
    height:2em;

    background-color:gray;

    color:white;
}
