@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	padding:0px;
	margin:0px;
	border:0px;

	font-family:"Nanum Gothic", sans-serif;
	font-size:12px;
	text-decoration:none;
}
/*뼈대*/
html, body {
	height:100%;

	background-color:#606060;
}

#wrapper {
    margin:0px auto;
    width:930px;
    height:500px;

    border:1px black solid;
}

#frame_head {
    width:100%;
    height:50px;

    background-color:brown;
    border-bottom:1px black solid;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#frame_channel {
    width:930px;
    height:450px;

    background-color:#505050;
}
.channel {
    position:relative;

    padding-left:5px;
    width:155px;
    height:15px;

    background-color:#303030;
    border-right:1px gray solid;
    border-bottom:1px gray solid;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
        .col_1 {
            margin-left:0px;
        }
        .col_2 {
            margin-left:155px;
        }
        .col_3 {
            margin-left:310px;
        }
        .col_4 {
            margin-left:465px;
        }
        .col_5 {
            margin-left:620px;
        }
        .col_6 {
            margin-left:775px;
        }
        .top {
            margin-top:-450px;
        }
    .channel_head {
        position:absolute;
        left:5px;

        color:white;
    }
    .channel_body {
        position:absolute;
        right:0px;

        width:30px;
        height:16px;

        border-left:1px gray solid;
    }
