* {
    margin:0px;
    padding:0px;
    border:0px;

	font-family:"Nanum Gothic", sans-serif;
	text-decoration:none;
}

/*스타일*/
    /*폰트 - 나눔고딕*/
    @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.color_orange {
	color:orange;
}
.color_green {
	color:#59FF00;
}
.font_shadow_black {
    text-shadow:
        0px -1px black,
        1px -1px black,
        1px 0px black,
        1px 1px black,
        0px 1px black,
        -1px 1px black,
        -1px 0px black,
        -1px -1px black;
}

button:hover, select:hover, label:hover {
    box-shadow:
        -2px 0px 2px silver,
        -2px 2px 2px silver,
        0px 2px 2px silver,
        2px 2px 2px silver,
        2px 0px 2px silver,
        2px -2px 2px silver,
        0px -2px 2px silver,
        -2px -2px 2px silver;
    cursor:pointer;
}
button:active, select:active, label:active {
    box-shadow:
        -3px 0px 3px white,
        -3px 3px 3px white,
        0px 3px 3px white,
        3px 3px 3px white,
        3px 0px 3px white,
        3px -3px 3px white,
        0px -3px 3px white,
        -3px -3px 3px white;
}



/*뼈대*/
html, body {
    overflow:hidden;
	height:100%;

	background-color:#606060;
}

#wrapper {
    position:relative;
    overflow:hidden;

    margin:0px auto;
    width:100vmin;
    height:100%;

    background:brown;
}

#frame_top {
    position:absolute;
        z-index:11;
    left:0;
    top:0;
    overflow:hidden;

    width:100%;
    height:80vmin;

    background-color:black;
        background-position:50% 50%;
        background-size:cover;
    box-sizing:border-box;
}
    /*공지사항*/
    #top_message {
        position:absolute;
        left:5vmin;
        bottom:22vmin;

        padding:2vmin;
        width:90vmin;
        height:20vmin;

        background:rgba(255,255,255,0.6);
        border-radius:5vmin;
        box-sizing:border-box;

        color:white;
        font-size:3.5vmin;

        display:table;
    }
        #top_message p {
            vertical-align:middle;

            display:table-cell;
        }
    #top_notice {
        position:absolute;
        left:5vmin;
        bottom:5vmin;

        padding:2vmin;
        width:90vmin;
        height:15vmin;

        background:rgba(255,255,255,0.6);
        border-radius:5vmin;
        box-sizing:border-box;

        color:white;
        font-size:3.5vmin;
    }

/*main*/
    .main_door {
        position:absolute;
            z-index:20;

        width:50vmin;
        height:80vmin;

        background-color:black;
        background-image:url('../images/fortune/door.jpg');
            background-size:auto 80vmin;
            background-position:100% 50%;
    }
        #main_door_l {
            left:-50%;
            top:0;
        }
        #main_door_r {
            left:100%;
            top:0;

            -webkit-transform:rotateY(180deg);
                    transform:rotateY(180deg);
        }

    #main_title {
        position:absolute;
            z-index:25;
        right:1.5vmin;
        top:1vmin;

        width:100%;

        color:white;
        text-shadow:
            0px -1px black,
            1px -1px black,
            1px 0px black,
            1px 1px black,
            0px 1px black,
            -1px 1px black,
            -1px 0px black,
            -1px -1px black;
        font-size:8vmin;
        font-weight:bold;
        text-align:right;
    }
        #main_title span {
            color:#a0a0a0;
            font-size:3vmin;
        }

    #main_content {
        position:absolute;
            z-index:25;
        left:5vmin;
        top:12vmin;

        padding:0vmin 2vmin;
        width:90vmin;
        height:65vmin;

        background:rgba(255,255,255,0.6);
        border-radius:5vmin;
        box-sizing: border-box;

        font-size:6vmin;
        font-weight:bold;

        visibility:hidden;
    }
        .list_dot {
            margin-right:1vmin;
            width:4vmin;
            height:4vmin;

            background-color:red;
            border:0.5vmin black solid;
            border-radius:50%;

            display:inline-block;
        }
            .list_dot.checked {
                background-color:#59FF00;
            }
        #main_content p {
            clear:both;
            float:left;

            margin-top:2vmin;

            display:block;
        }
        #main_content select {
            float:right;

            margin-bottom:1.5vmin;
            width:65vmin;
            height:7vmin;

            background-color:#fcfcfc;
            border:1px gray solid;
            border-radius:2vmin;

            font-size:4vmin;

            display:block;
        }
                .clearFloat {
                    clear:both;
                }
            #main_content select option.green {
                color:#00BC51;
            }
        #content_random {
            clear:both;
            float:left;

            margin:0.5vmin 2vmin;
            width:15vmin;
            height:14vmin;

            background:-webkit-linear-gradient(#ffffff, #A0A0A0);
            background:-o-linear-gradient(#ffffff, #A0A0A0);
            background:linear-gradient(#ffffff, #A0A0A0);

            border:0.2vmin gray solid;
            border-radius:2vmin;

            font-size:6vmin;
            font-weight:bold;

            display:block;
        }
        #character_favor {
            position:relative;
            overflow:hidden;
            clear:both;
            float:left;

            width:86vmin;
            height:5vmin;

            background-color:rgba(0,0,0,0.6);
            border:0.3vmin gray outset;
            border-radius:1vmin;
            box-sizing: border-box;
        }
            #character_favor_head {
                position:absolute;
                    z-index:2;
                left:0;
                top:0;

                width:12vmin;
                height:100%;

                background-color:white;
                border-right:0.3vmin gray outset;
                box-sizing: border-box;

                font-size:3vmin;
                text-align:center;
                line-height:5vmin;
            }
            #character_favor_name {
                position:absolute;
                    z-index:2;
                left:12vmin;
                top:0;

                width:73vmin;
                height:100%;

                color:white;
                font-size:3vmin;
                text-align:center;
                line-height:5vmin;
            }
            #character_favor_bar {
                position:absolute;
                    z-index:1;
                left:12vmin;
                top:0;

                width:0%;
                height:100%;
            }
                #character_favor_bar.f-1 {background-color:#CF68FF;}
                #character_favor_bar.f0 {background-color:yellow;}
                #character_favor_bar.f1 {background-color:orange;}
                #character_favor_bar.f2 {background-color:#59FF00;}
        #character_taste {
            position:relative;
            overflow:hidden;
            clear:both;
            float:left;

            margin-top:1vmin;
            margin-bottom:1vmin;
            padding-top:0.6vmin;
            padding-left:13.5vmin;
            width:86vmin;
            height:11vmin;

            background-color:rgba(0,0,0,0.6);
            border:0.3vmin gray outset;
            border-radius:1vmin;
            box-sizing: border-box;
        }
            #character_taste_head {
                position:absolute;
                    z-index:2;
                left:0;
                top:0;

                width:12vmin;
                height:100%;

                background-color:white;
                border-right:0.3vmin gray outset;
                box-sizing: border-box;

                font-size:4vmin;
                text-align:center;
                line-height:11vmin;
            }
            .taste {
                float:left;
                overflow:hidden;

                margin-right:2.1vmin;

                border-radius:1vmin;
                box-sizing:border-box;
            }
                .taste.last {margin-right:0;}
                .taste.like {
                    box-shadow:
                        -2.5px 0px 2.5px #59FF00,
                        -2.5px 2.5px 2.5px #59FF00,
                        0px 2.5px 2.5px #59FF00,
                        2.5px 2.5px 2.5px #59FF00,
                        2.5px 0px 2.5px #59FF00,
                        2.5px -2.5px 2.5px #59FF00,
                        0px -2.5px 2.5px #59FF00,
                        -2.5px -2.5px 2.5px #59FF00;
                }
                .taste.dislike {
                    box-shadow:
                        -2.5px 0px 2.5px orange,
                        -2.5px 2.5px 2.5px orange,
                        0px 2.5px 2.5px orange,
                        2.5px 2.5px 2.5px orange,
                        2.5px 0px 2.5px orange,
                        2.5px -2.5px 2.5px orange,
                        0px -2.5px 2.5px orange,
                        -2.5px -2.5px 2.5px orange;
                }
            .taste_icon {
                width:7vmin;
                height:7vmin;

                background-size:7vmin 7vmin;
                border-radius:1vmin;
            }
                #taste_icon_0 {background-image:url('../images/fortune/item/item0.png');}
                #taste_icon_1 {background-image:url('../images/fortune/item/item1.png');}
                #taste_icon_2 {background-image:url('../images/fortune/item/item2.png');}
                #taste_icon_3 {background-image:url('../images/fortune/item/item3.png');}
                #taste_icon_4 {background-image:url('../images/fortune/item/item4.png');}
                #taste_icon_5 {background-image:url('../images/fortune/item/item5.png');}
                #taste_icon_6 {background-image:url('../images/fortune/item/item6.png');}
                #taste_icon_7 {background-image:url('../images/fortune/item/item7.png');}
            .taste_num {
                width:7vmin;

                color:white;
                font-size:2.5vmin;
                    line-height:2.5vmin;
                text-align:center
            }


/*option*/
    #option_main {
        position:absolute;
            z-index:30;
        left:0;
        bottom:-100%;

        padding:0.5vmin 4vmin;
        width:100%;
        height:100%;

        background:#404040;
        box-sizing:border-box;

        color:white;
    }
        #option_title {
            position:relative;

            margin-bottom:1.5vmin;
            width:100%;

            color:white;
            text-shadow:
                0px -1px black,
                1px -1px black,
                1px 0px black,
                1px 1px black,
                0px 1px black,
                -1px 1px black,
                -1px 0px black,
                -1px -1px black;
            font-size:8vmin;
            font-weight:bold;
            text-align:center;
        }
        .option_button {
            margin-bottom:5vmin;
            padding:0 2vmin;
            width:92vmin;
            height:12vmin;

            background:black;
            border:0.3vmin skyblue outset;
            border-radius:2vmin;
            box-sizing: border-box;

            color:white;
            font-size:6vmin;
            font-weight:bold;
            line-height:12vmin;

            display:inline-block;
        }
        .option_checkbox {
            width:8vmin;
            height:8vmin;

            vertical-align:top;
        }
            .option_checkbox:hover {
                cursor:pointer;
            }
        .option_label {
            margin-bottom:2vmin;
            padding:0 2vmin;
            width:82vmin;
            height:8vmin;

            background:black;
            border:0.3vmin skyblue outset;
            border-radius:2vmin;
            box-sizing: border-box;

            color:white;
            font-size:4vmin;
            font-weight:bold;
            line-height:8vmin;

            display:inline-block;
        }

/*show*/
    #show_wish {
        position:absolute;
            z-index:12;

        padding:1vmin;
        width:100%;

        box-sizing:border-box;

        color:white;
        text-shadow:
            0px -1px black,
            1px -1px black,
            1px 0px black,
            1px 1px black,
            0px 1px black,
            -1px 1px black,
            -1px 0px black,
            -1px -1px black;
        font-size:3vmin;
        font-weight:bold;
        text-align:left;

        visibility:hidden;
    }
        #show_wish_name {
            color:yellow;
            font-weight:bold;
        }
    #show_contributor {
        position:absolute;
            z-index:12;

        padding:1vmin;
        width:100%;

        box-sizing:border-box;

        color:white;
        text-shadow:
            0px -1px black,
            1px -1px black,
            1px 0px black,
            1px 1px black,
            0px 1px black,
            -1px 1px black,
            -1px 0px black,
            -1px -1px black;
        font-size:3vmin;
        text-align:right;

        visibility:hidden;
    }

    #show_loading {
        position:absolute;
            z-index:13;
        left:25vmin;
        top:10vmin;
        overflow:hidden;

        width:50vmin;
        height:3vmin;

        background:rgba(0,0,0,0.6);
        border:0.2vmin gray solid;
        border-radius:1.5vmin;

        visibility:hidden;
    }
        #show_loading_bar {
            position:absolute;
            left:0;
            top:0;

            width:0%;
            height:100%;

            background: -webkit-linear-gradient(top, #18C5F3 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #18C5F3 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-radius:1.5vmin;
        }
    #show_result {
        position:absolute;
            z-index:13;
        left:50%;
        top:6vmin;
        overflow:hidden;

        width:0%;
        height:10vmin;

        background:url('../images/fortune/result.png');
            background-repeat:no-repeat;
            background-size:cover;
            background-position:50% 50%;

        color:yellow;
        text-shadow:
            0px -1px black,
            1px -1px black,
            1px 0px black,
            1px 1px black,
            0px 1px black,
            -1px 1px black,
            -1px 0px black,
            -1px -1px black;
        font-weight:bold;
        font-size:4vmin;
            line-height:10vmin;
        text-align:center;
    }
    #show_flash {
        position:absolute;
            z-index:14;
        left:15%;
        top:-12vmin;

        width:70%;
        height:auto;

        display:none;
    }

    #show_gift {
        position:absolute;
            z-index:14;
        left:7vmin;
        top:15vmin;

        width:15vmin;
        height:15vmin;

        background-color:black;
        background-size:15vmin 15vmin;
        border:1vmin skyblue ridge;

        visibility:hidden;
    }
        #show_gift.item0 {background-image:url('../images/fortune/item/item0.png');}
        #show_gift.item1 {background-image:url('../images/fortune/item/item1.png');}
        #show_gift.item2 {background-image:url('../images/fortune/item/item2.png');}
        #show_gift.item3 {background-image:url('../images/fortune/item/item3.png');}
        #show_gift.item4 {background-image:url('../images/fortune/item/item4.png');}
        #show_gift.item5 {background-image:url('../images/fortune/item/item5.png');}
        #show_gift.item6 {background-image:url('../images/fortune/item/item6.png');}
        #show_gift.item7 {background-image:url('../images/fortune/item/item7.png');}

    #show_character_1 {
        position:absolute;
            z-index:12;

        width:100%;
        height:100%;

        background-repeat:no-repeat;
        background-position:50% bottom;
        background-size:auto 80%;
    }
    #show_dialog_name {
        position:absolute;
            z-index:14;
        left:0;
        bottom:21vmin;

        padding:1vmin;
        width:40vmin;
        height:7vmin;

        background-color:rgba(41,46,111,0.7);
        border:0.5vmin gray solid;
            border-bottom:0;
        border-top-right-radius:3vmin;
        box-sizing:border-box;

        color:white;
        font-size:3vmin;
        font-weight:bold;

        visibility:hidden;
    }

    #show_dialog_favor {
        position:absolute;
            z-index:14;
        right:0;
        bottom:21vmin;
        overflow:hidden;

        width:28vmin;
        height:4.5vmin;

        background-color:rgba(0,0,0,0.7);
        border:0.5vmin gray solid;
            border-bottom:0;
        border-top-left-radius:1.5vmin;
        box-sizing:border-box;

        visibility:hidden;
    }
        #dialog_favor_name {
            position:absolute;
                z-index:2;
            left:0;
            top:0;

            width:8vmin;
            height:100%;

            background-color:rgba(41,46,111,0.7);
            border-right:0.5vmin gray solid;
            box-sizing: border-box;

            color:white;
            font-size:2.5vmin;
            font-weight:bold;
            text-align:center;
            line-height:4.5vmin;
        }
        #dialog_favor_num {
            position:absolute;
                z-index:2;
            left:8vmin;
            top:0;

            width:20vmin;
            height:100%;

            color:white;
            font-size:2.5vmin;
            font-weight:bold;
            text-align:center;
            line-height:4.5vmin;
        }
        #dialog_favor_bar {
            position:absolute;
                z-index:1;
            left:8vmin;
            top:0;

            width:0%;
            height:100%;
        }
            #dialog_favor_bar.f-1 {background-color:#CF68FF;}
            #dialog_favor_bar.f0 {background-color:yellow;}
            #dialog_favor_bar.f1 {background-color:orange;}
            #dialog_favor_bar.f2 {background-color:#59FF00;}
    #show_dialog_content {
        position:absolute;
            z-index:13;
        left:0;
        bottom:0;

        padding:0.5vmin 2vmin;
        width:100vmin;
        height:21vmin;

        background-color:rgba(0,0,0,0.7);
        border:0.5vmin gray solid;
        box-sizing:border-box;

        color:white;
        font-size:4vmin;

        visibility:hidden;
    }
        #show_dialog_content.next {
            background-image:url('../images/fortune/content_next.gif');
                background-repeat:no-repeat;
                background-position:-1vmin 0;
                background-size:100vmin 21vmin;
        }

/*gift*/
#gift_main {
    position:absolute;
        z-index:40;
    left:0;
    bottom:-65vmin;

    width:100%;
    height:65vmin;

    background:rgba(220,220,220,0.8);
    border-top:0.5vmin gray solid;
    box-sizing:border-box;
}
    #gift_title {
        position:relative;

        margin-bottom:2vmin;
        width:100%;

        color:white;
        text-shadow:
            0px -1px black,
            1px -1px black,
            1px 0px black,
            1px 1px black,
            0px 1px black,
            -1px 1px black,
            -1px 0px black,
            -1px -1px black;
        font-size:6vmin;
        font-weight:bold;
        text-align:center;
    }
    .gift {
        position:relative;

        width:20vmin;
        height:24vmin;

        border-radius:2vmin;
        box-sizing:border-box;
    }
        .gift.col_1 {margin-left:2.5vmin;}
        .gift.col_2 {margin-left:27.5vmin;}
        .gift.col_3 {margin-left:52.5vmin;}
        .gift.col_4 {margin-left:77.5vmin;}
        .gift.row_1 {margin-top:-51vmin;}
        .gift.row_2 {margin-top:3vmin;}
        .gift.selected {
            box-shadow:
                -5px 0px 5px #0094FF,
                -5px 5px 5px #0094FF,
                0px 5px 5px #0094FF,
                5px 5px 5px #0094FF,
                5px 0px 5px #0094FF,
                5px -5px 5px #0094FF,
                0px -5px 5px #0094FF,
                -5px -5px 5px #0094FF;
        }
        .gift:hover {
        }
    .gift_icon {
        width:20vmin;
        height:20vmin;

        background-size:20vmin;
    }
        #gift_icon_0 {background-image:url('../images/fortune/item/item0.png');}
        #gift_icon_1 {background-image:url('../images/fortune/item/item1.png');}
        #gift_icon_2 {background-image:url('../images/fortune/item/item2.png');}
        #gift_icon_3 {background-image:url('../images/fortune/item/item3.png');}
        #gift_icon_4 {background-image:url('../images/fortune/item/item4.png');}
        #gift_icon_5 {background-image:url('../images/fortune/item/item5.png');}
        #gift_icon_6 {background-image:url('../images/fortune/item/item6.png');}
        #gift_icon_7 {background-image:url('../images/fortune/item/item7.png');}
    .gift_name {
        width:20vmin;

        color:white;
        font-weight:bold;
        text-shadow:
            0px -1px black,1px -1px black,1px 0px black,1px 1px black,0px 1px black,-1px 1px black,-1px 0px black,-1px -1px black;
        text-align:center;
    }
    .gift_num {
        position:absolute;
            z-index:2;
        top:12vmin;
        right:1vmin;

        width:20vmin;

        color:white;
        text-shadow:
            0px -1px black,1px -1px black,1px 0px black,1px 1px black,0px 1px black,-1px 1px black,-1px 0px black,-1px -1px black;
        font-size:6vmin;
        text-align:right;
    }
    .gift_cover {
        position:absolute;
            z-index:5;
        top:0;
        left:0;

        width:100%;
        height:100%;
    }
        .gift_cover:hover {
            cursor:pointer;
            background-color:rgba(0,148,255,0.4);
            box-shadow:
                -5px 0px 5px #0094FF,
                -5px 5px 5px #0094FF,
                0px 5px 5px #0094FF,
                5px 5px 5px #0094FF,
                5px 0px 5px #0094FF,
                5px -5px 5px #0094FF,
                0px -5px 5px #0094FF,
                -5px -5px 5px #0094FF;
        }

#frame_middle {
    position:absolute;
        z-index:11;
    left:0;
    top:80vmin;
    overflow:hidden;

    margin:0px auto;
    padding:0.3vmin 0;
    width:100%;
    height:2vmin;

    background:#dcdcdc;
    border-top:0.3vmin #fcfcfc solid;
    border-bottom:0.3vmin #acacac solid;
    box-sizing:border-box;
}
    #middle_loading {
        position:absolute;
        left:0;
        top:0;

        width:0%;
        height:100%;

        background:#2989d8;

    }

#frame_bottom {
    position:relative;
    overflow:hidden;

    margin:0px auto;
    padding-top:82vmin;
    width:100%;
    height:100%;

    box-sizing:border-box;
}
#button_area {
    position:relative;

    width:100%;
    height:100%;

    background-color:black;
    background-image:url('../images/fortune/bottom.jpg');
        background-repeat:no-repeat;
        background-position:50% 0%;
        background-size:cover;
}
    #button_blog {
        position:absolute;
            z-index:3;
        left:0px;
        display:block;

        width:25vmin;
        height:10vmin;


		background: -webkit-linear-gradient(top, #bce2d8 0%,#00e8b1 100%);
        background: linear-gradient(to bottom, #bce2d8 0%,#00e8b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border-right:1px gray outset;
        border-bottom:1px gray outset;
        border-bottom-right-radius:5vmin;
        box-sizing:border-box;

        font-size:6vmin;
        font-weight:bold;
    }
        #button_blog:active {
            background:#00e8b1;
        }

    #button_back, #button_cancel {
        position:absolute;
            z-index:3;
        right:0px;
        top:-10vmin;
        display:block;

        width:25vmin;
        height:10vmin;

		background: -webkit-linear-gradient(top, #ffffff, #FF6A00);
		background: linear-gradient(to bottom, #ffffff, #FF6A00);
        border-left:1px gray outset;
        border-bottom:1px gray outset;
        border-bottom-left-radius:5vmin;
        box-sizing:border-box;

        font-size:6vmin;
        font-weight:bold;
    }
        #button_back:active, #button_cancel:active {
            background:#FFAA00;
        }
    #button_option {
        position:absolute;
            z-index:3;
        left:0px;
        top:-10vmin;
        display:block;

        width:25vmin;
        height:10vmin;

		background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
        background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
        border-right:1px gray outset;
        border-bottom:1px gray outset;
        border-bottom-right-radius:5vmin;
        box-sizing:border-box;

        color:white;
        text-shadow:
			0px -1px #202020,
			1px -1px #202020,
			1px 0px #202020,
			1px 1px #202020,
			0px 1px #202020,
			-1px 1px #202020,
			-1px 0px #202020,
			-1px -1px #202020;
        font-size:6vmin;
        font-weight:bold;
    }
        #button_option:active {
            background:#008a00;
        }
    #button_gift {
        position:absolute;
            z-index:3;
        left:0px;
        top:-10vmin;
        display:block;

        width:25vmin;
        height:10vmin;

        background: -webkit-linear-gradient(top, #ffffff, #516BFF);
        background: linear-gradient(to bottom, #ffffff, #516BFF);
        border-right:1px gray outset;
        border-bottom:1px gray outset;
        border-bottom-right-radius:5vmin;
        box-sizing:border-box;

        color:white;
        text-shadow:
			0px -1px #202020,
			1px -1px #202020,
			1px 0px #202020,
			1px 1px #202020,
			0px 1px #202020,
			-1px 1px #202020,
			-1px 0px #202020,
			-1px -1px #202020;
        font-size:6vmin;
        font-weight:bold;
    }
        #button_gift:active {
            background:#3855FF;
        }
    #button_progress {
        position:absolute;
            z-index:2;
        left:10vmin;
        top:20%;
        display:block;

        width:80vmin;
        height:60%;

        background: -webkit-linear-gradient(top, #ffffff, #A0A0A0);
        background: linear-gradient(top, #ffffff, #A0A0A0);
        border:1px gray outset;
        border-radius:5vmin;
        opacity:0.9;
    }
        #button_progress.loading {
            background: url('../images/fortune/progress_loading.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_loading.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.start {
            background: url('../images/fortune/progress_start.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_start.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.ok {
            background: url('../images/fortune/progress_ok.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_ok.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.skip {
            background: url('../images/fortune/progress_skip.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_skip.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.next {
            background: url('../images/fortune/progress_next.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_next.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.pause {
            background: url('../images/fortune/progress_pause.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_pause.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.wait {
            background: url('../images/fortune/progress_wait.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_wait.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.end {
            background: url('../images/fortune/progress_end.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_end.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }
        #button_progress.gift {
            background: url('../images/fortune/progress_gift.png'), -webkit-linear-gradient(top, #ffffff, #A0A0A0);
            background: url('../images/fortune/progress_gift.png'), linear-gradient(to bottom, #ffffff, #A0A0A0);
                background-repeat:no-repeat;
                background-position:center center;
                background-size:contain;
        }



/*======================================================================================================*/
/* ※ 4. 기타 */
/*======================================================================================================*/
#imagePreloader {
	width:1px;
	height:1px;

	display:none;
}

/*모바일 스크롤바 가시화*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
