@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*전체 전보*/
* {
	padding:0px;
	margin:0px;
	border:0px;

	font-family:"Nanum Gothic", sans-serif;
	text-decoration:none;
}

p, span {
    color:inherit;
    font-size:inherit;
}

html, body {
    width:100%;
    height:100%;

    background-color:gray;
}

#wrapper {
    position:relative
}


/*스타일 정보*/
.epic {
	color:#E5B64A;
}
.set {
	color:#59FF00;
}

.text_error {
    color:orange
}

.bargauge {
    position:absolute;
    left:0;
    top:0;
}
/*스타일 정보*/


/*frame_init*/
#frame_init {
    position:relative;

    width:100%;
    height:100%;

    background-image:url('../images/terago/init_background.jpg');
    background-size:cover;
    background-position:center center;
}
	#init_title {
		position:absolute;
			top:5%;

		width:100%;

		color:white;
		font-size:80px;
		text-align:center;

		text-shadow:
			0px -1px black,
			1px -1px black,
			1px 0px black,
			1px 1px black,
			0px 1px black,
			-1px 1px black,
			-1px 0px black,
			-1px -1px black;
	}
	#init_note {
		position:absolute;
			top:calc(8% + 80px);

		padding:5%;
		width:90%;

		background-color:rgba(0,0,0,0.3);

		color:white;
		font-size:1em;

		text-shadow:
			0px -1px black,
			1px -1px black,
			1px 0px black,
			1px 1px black,
			0px 1px black,
			-1px 1px black,
			-1px 0px black,
			-1px -1px black;
	}

    #init_start {
        position:absolute;
            z-index:30;
        bottom:20px;
        display:block;

        margin-top:5px;
        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
        width:90%;
        height:2em;

        background: #FFFFFF; /* default */
        background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
        background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: linear-gradient(to bottom, #ffffff, #A0A0A0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

        border-radius:10px;

        font-size:2.5em;
        font-weight:700;
        text-align:center;
    }
        #init_start:hover {
            box-shadow:
                -2px 0px 10px skyblue,
                -2px 2px 10px skyblue,
                0px 2px 10px skyblue,
                2px 2px 10px skyblue,
                2px 0px 10px skyblue,
                2px -2px 10px skyblue,
                0px -2px 10px skyblue,
                -2px -2px 10px skyblue;
            cursor:pointer;
            cursor:hand;
        }
        #init_start:active {
            background:#dedede;
        }



/*frame_trip*/
#frame_trip {
    position:relative;
    display:none;

    width:100%;
    height:100%;
}
    #trip_loading {
    position:absolute;
    top:calc(50% - 0.5em);

    width:100%;
    height:1em;

    color:white;
    font-size:1.5em;
    font-weight:bold;
    text-align:center;
    }

    #trip_map {
        position:absolute;
            z-index:2;

        width:100%;
        height:100%;

        -webkit-filter:invert(0.8) contrast(1.2);
        filter:invert(0.8) contrast(1.2);
        pointer-events:none;
    }
        #trip_marker {
            position:absolute;
                z-index:5;
            bottom:50%;

            margin-left:auto;
            margin-right:auto;
                left:0;
                right:0;
            width:22px;
            height:40px;

            background-image:url("../images/terago/marker.png");
        }

    #trip_fatigue {
        position:absolute;
            z-index:5;
        top:1vw;
        overflow:hidden;

        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
        width:95vw;
        height:0.5em;

        background-color:rgba(0,0,0,0.5);
        border:2px black solid;
        border-radius:0.5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
    }
        #trip_fatigue_bar {
            width:100%;height:100%;
            background-color:skyblue;
        }
    #trip_searchcool {
        position:absolute;
            z-index:5;
        top:calc(1.2vw + 0.5em);
        overflow:hidden;

        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
        width:95vw;
        height:0.5em;

        background-color:rgba(0,0,0,0.5);
        border:2px black solid;
        border-radius:0.5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
    }
        #trip_searchcool_bar {
            width:0%;height:100%;
            background-color:yellow;
        }
    #trip_address {
        position:absolute;
            z-index:5;
        top:calc(1.4vw + 1em);
        overflow:hidden;

        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
        width:95vw;
        height:0.8em;

        background-color:rgba(0,0,0,0.5);
        border:2px black solid;
        border-radius:0.5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        color:white;
    }
        #trip_address p {
            font-size:0.5em;
            text-align:center;
            vertical-align:middle;
        }
	#trip_item_icon {
        position:absolute;
            z-index:5;
        top:calc(1.5vw + 2em);
		left:2.5vw;
        overflow:hidden;

        width:56px;
        height:56px;

        background-color:rgba(0,0,0,0.5);
		background-image:url('../sprite/images/sprite_hell.png');
		background-size:1260px auto;
        border-radius:0.5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        color:white;
	}
	#trip_item_name {
		position:absolute;
			z-index:5;
		top:calc(2vw + 2.5em);
		right:2.5vw;
		overflow:hidden;

		width:calc(95vw - 60px);
		height:1.6em;

		background-color:rgba(0,0,0,0.5);
		background-size:1260px auto;
		border:2px black solid;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

		color:white;
		font-size:0.8em;
	}


    #trip_inventory {
        position:absolute;
            z-index:10;
        left:3vw;
        bottom:3vw;
        display:block;

        padding-top:1vw;
        width:25vw;
        height:20vw;

        background: #FFFFFF; /* default */
        background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
        background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: linear-gradient(to bottom, #ffffff, #A0A0A0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";
        opacity:0.7;

        border-radius:10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        font-size:2em;
        font-weight:700;
        text-align:center;
    }

    #trip_get {
        position:absolute;
            z-index:10;
        right:3vw;
        bottom:3vw;
        display:block;


        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
        padding-top:1vw;
        width:50vw;
        height:20vw;

        background: #FFFFFF; /* default */
        background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
        background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: linear-gradient(to bottom, #ffffff, #A0A0A0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";
        opacity:0.7;

        border-radius:10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        font-size:2em;
        font-weight:700;
        text-align:center;
    }

    #trip_search {
        position:absolute;
            z-index:10;
        right:3vw;
        bottom:3vw;
        display:block;

        padding-top:1vw;
        width:50vw;
        height:20vw;

        background: #FFFFFF; /* default */
        background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
        background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
        background: linear-gradient(to bottom, #ffffff, #A0A0A0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";
        opacity:0.7;

        border-radius:10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        font-size:2em;
        font-weight:700;
        text-align:center;
    }
        .trip_button img {
            width:15vw;
            height:15vw;
        }

	#trip_inventory_window {
        position:absolute;
            z-index:10;
        top:4vw;
        overflow-y:scroll;

        margin-left:auto;
        margin-right:auto;
            left:0;
            right:0;
		padding:2vw;
        width:95vw;
        height:calc(100% - 30vw);

        background-color:rgba(0,0,0,0.8);
        border:2px black solid;
        border-radius:0.5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

        color:#E5B64A;
		font-size:0.7em;

		display:none;
	}
		#trip_inventory_windo .set {
			color:#59FF00;
		}

/*frame_battle*/
#frame_battle {
    position:relative;
    display:none;

    width:100%;
    height:100%;
}



/*frame_inventory*/
#frame_inventory {
    position:relative;
    display:none;

    width:100%;
    height:100%;
}


/*모바일 스크롤바 가시화*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 6px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
