@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	padding:0;
	margin:0;
	border:0;

	font-family:Arial;
	font-size:16px;
	text-decoration:none;
}

/*폰트 설정*/
.yellow {
	color:yellow;
}



body {
	overflow-x:hidden;
	overflow-y:auto;
	background-color:#0F1E33;
	background:url('../images/worldcup_hots/space.jpg')  no-repeat center center fixed;
	background-size: cover;
	width:100%;
	height:100%;
}
	p, span {
		font-size:inherit;
	}

#wrapper {
	position:relative;
	overflow:hidden;

	margin:0px auto;
	width:1200px;
	height:700px;

	box-sizing: border-box;

	color:white;
}


#frame_intro {
	position:relative;

	width:100%;
	height:100%;

	display:block;
}
	#frame_intro p {
		position:absolute;
		right:0;top:0;
		z-index:2;

		font-size:120px;
		font-weight:bold;
		text-align:right;
		text-shadow:
			0px -1px black,
			1px -1px black,
			1px 0px black,
			1px 1px black,
			0px 1px black,
			-1px 1px black,
			-1px 0px black,
			-1px -1px black;
	}

	#intro_logo {
		position:absolute;
		left:20px;
		bottom:20px;

		width:800px;
		height:auto;

		border-radius:50%;
	}

	.intro_start {
		position:absolute;
		bottom:50px;
		right:20px;

		width:350px;
		height:120px;

		background: #FFFFFF; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
		background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: linear-gradient(to bottom, #ffffff, #A0A0A0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

		border:5px skyblue outset;
		border-radius:10px;

		font-size:75px;
		font-weight:bold;
	}
		.intro_start:hover {
			box-shadow:0 0 3pt 2pt white;
			cursor:pointer;
			cursor:hand;
		}
		.intro_start input[type="button"]:active {
			background: #DEDEDE;
		}


#frame_loading {
	position:relative;
	overflow:auto;

	width:100%;
	height:100%;

	display:none;
}
	#loading_notice {
		position:relative;

		margin-top:105px;

		width:100%;

		font-size:80px;
		font-weight:bold;
		text-align:center;
	}

	#loading_progress {
		position:absolute;
		left:0;right:0;
		bottom:69px;

		margin:0 auto;
		width:calc(100% - 50px);
		height:100px;

		background:black;
		border:2px gray solid;
	}
		#loading_bar {
			position:absolute;
				z-index:1;
			top:0px;
			left:0px;

			width:0%;
			height:100%;

			background:yellow;
		}
		#loading_num {
			position:absolute;
				z-index:2;
			top:0px;
			left:0px;

			width:100%;
			height:100%;

			color:white;
			font-size:70px;
			line-height:100px;
			text-align:center;
			text-shadow:
				0px -1px black,
				1px -1px black,
				1px 0px black,
				1px 1px black,
				0px 1px black,
				-1px 1px black,
				-1px 0px black,
				-1px -1px black;
		}

#frame_ready {
	position:relative;

	padding:10px;
	width:100%;
	height:100%;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	display:none;
}
	#frame_ready p.title {
		font-size:45px;
		font-weight:bold;
		margin-bottom:;
	}
	#frame_ready hr {
		border-top:2px skyblue solid;
	}

	#ready_image_go {
		overflow-y:scroll;

		margin:5px auto 0 auto;
		width:calc(100% - 50px);
		height:500px;

		background-color:rgba(0,0,0,0.3);
		border:2px skyblue solid;
	}
		#ready_image_go img {
			float:left;

			margin:-2px 0px 0px -2px;

			background-color:white;
			background-repeat:no-repeat;
			border:2px gray solid;
			box-sizing:border-box;

			display:block;
		}
		#ready_image_go img:hover {
			filter:brightness(0.5);
			cursor:pointer;
		}

	#ready_image_no {
		position:relative;
		overflow:hidden;

		margin-left:45px;
		width:150px;
		height:180px;

		border:1px skyblue solid;

		font-size:30px;
		font-weight:bold;
		text-align:center;
		line-height:120px;
	}
		#ready_image_no img {
			height:180px;

			background-color:black;
			background-repeat:no-repeat;
			background-size:contain;
			box-sizing:border-box;
		}

	#ready_reset {
		position:absolute;
		right:20px;
		top:7.5px;

		width:200px;
		height:60px;

		background: #FF6A00; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #FF6A00));
		background: -ms-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: linear-gradient(to bottom, #ffffff, #FF6A00);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#FF6A00)";

		border:2px gray outset;
		border-radius:10px;

		font-size:40px;
		font-weight:bold;
	}
		#ready_reset:hover {
			box-shadow:0 0 3pt 2pt white;
			cursor:pointer;
			cursor:hand;
		}
		#ready_reset:active {
			background: #FFAA00;
		}

	#ready_desc {
		font-size:35px;
		font-weight:bold;
		line-height:80px;
	}
	#ready_start {
		position:absolute;
		right:15px;
		bottom:15px;

		width:270px;
		height:80px;

		background: #FFFFFF; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
		background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: linear-gradient(to bottom, #ffffff, #A0A0A0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

		border:2px gray outset;
		border-radius:15px;

		font-size:50px;
		font-weight:bold;
	}
		#frame_ready input[type="button"]:hover {
			box-shadow:0 0 3pt 2pt white;
			cursor:pointer;
			cursor:hand;
		}
		#frame_ready input[type="button"]:active {
			background: #DEDEDE;
		}





#frame_battle {
	position:relative;

	padding:10px;
	width:100%;
	height:100%;

	box-sizing:border-box;

	display:none;
}
	#frame_battle p {
		font-size:45px;
		font-weight:bold;

		display:block;
	}
		#frame_battle p.left {
			float:left;
		}
		#frame_battle p.right {
			float:right;
		}
	#frame_battle hr {
		clear:both;
		border-top:2px skyblue solid;
	}

	#battle_reset {
		float:right;

		margin-left:15px;
		width:200px;
		height:60px;

		background: #FF6A00; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #FF6A00));
		background: -ms-linear-gradient(top center, #FFFFFF, #FF6A00);
		background: linear-gradient(to bottom, #ffffff, #FF6A00);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#FF6A00)";

		border:2px gray outset;
		border-radius:15px;

		font-size:40px;
		font-weight:bold;
	}
		#battle_reset:hover {
			box-shadow:0 0 3pt 2pt white;
			cursor:pointer;
			cursor:hand;
		}
		#battle_reset:active {
			background: #FFAA00;
		}

	.battle_img {
		position:absolute;
		overflow:hidden;
		top:80px;

		width:420px;
		height:560px;

		background:black;
		border:2px #C5F2F9 solid;
			border-top:10px skyblue solid;
			border-bottom:10px skyblue solid;
		box-sizing:border-box;
		opacity: 0.01;
		transition:left 0.3s linear, right 0.3s linear, opacity 0.3s linear;

		text-align:center;
	}
			.battle_img img {
				position: absolute;
				top: -9999px;
				bottom: -9999px;
				left: -9999px;
				right: -9999px;
				margin: auto;

				background-color:white;
				background-repeat:no-repeat;
				background-size:contain;
			}
		#battle_img_left {
			left:-500px;
		}
			#battle_img_left.on {
				left:50px;
				opacity:1;
			}
		#battle_img_right {
			right:-500px;
		}
			#battle_img_right.on {
				right:50px;
				opacity:1;
			}
		.battle_img.selectable:hover, .battle_img.winner {
			outline:6px yellow solid;

			cursor:pointer;
			cursor:hand;
			opacity: 1;
		}

		#battle_img_vs {
			position:absolute;
			top:250px;
			left:0;right:0;

			margin:0 auto;
			width:150px;
			height:auto;
		}
		#battle_random {
			position:absolute;
			top:400px;
			left:0;right:0;

			margin:0 auto;
			width:150px;
			height:75px;

			background: #FFFFFF; /* default */
			background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
			background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
			background: linear-gradient(to bottom, #ffffff, #A0A0A0);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

			border:2px gray outset;
			border-radius:6px;

			font-size:50px;
			font-weight:bold;
		}
			#battle_random:hover {
				box-shadow:0 0 3pt 2pt skyblue;
				cursor:pointer;
				cursor:hand;
			}
			#battle_random:active {
				background:skyblue;
			}

	.battle_name {
		position:absolute;
		bottom:5px;

		width:420px;

		border-bottom:5px skyblue solid;

		font-size:30px;
		font-weight:bold;
		text-align:center;
		line-height:40px;
	}
		#battle_name_left {
			left:52px;
		}
		#battle_name_right {
			right:52px;
		}
		.battle_name a {
			color:skyblue;
			font-size:inherit;
		}
			.battle_name a:hover {
				text-decoration: underline;
			}


	.battle_winner {
		position:absolute;
			z-index:5;
		top:500px;

		width:400px;
		height:auto;

		display:none;
	}
		#battle_winner_left {
			left:52px;
		}
		#battle_winner_right {
			right:52px;
		}







#frame_victory {
	position:relative;

	padding:5px;
	width:100%;
	height:100%;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	display:none;
}
	#frame_victory p {
		font-size:80px;
		font-weight:bold;
	}
	#victory_img {
		position:absolute;
		overflow:hidden;
		top:80px;
		left:0;right:0;

		margin:0 auto;
		width:420px;
		height:560px;

		background:black;
		border:2px skyblue solid;
			border-top:10px skyblue solid;
			border-bottom:10px skyblue solid;
		box-sizing:border-box;

		text-align:center;
	}
		#victory_img img {
			position: absolute;
			top: -9999px;
			bottom: -9999px;
			left: -9999px;
			right: -9999px;
			margin: auto;

			background-color:white;
			background-repeat:no-repeat;
			background-size:contain;
		}

	#victory_winner {
		position:absolute;
			z-index:5;
		top:500px;
		left:0;right:0;

		margin:0 auto;
		width:400px;
		height:auto;
	}
	#victory_name {
		position:absolute;
		bottom:5px;
		left:0;right:0;

		margin:0 auto;
		width:420px;

		border-bottom:5px skyblue solid;

		color:yellow;
		font-size:30px;
		font-weight:bold;
		text-align:center;
		line-height:40px;
	}
	#victory_name a {
		color:skyblue;
		font-size:inherit;
	}
		#victory_name a:hover {
			text-decoration: underline;
		}

	#victory_return {
		position:absolute;
		right:20px;
		bottom:20px;

		width:300px;
		height:120px;

		background: #FFFFFF; /* default */
		background: -moz-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
		background: -ms-linear-gradient(top center, #FFFFFF, #A0A0A0);
		background: linear-gradient(to bottom, #ffffff, #A0A0A0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#A0A0A0)";

		border:5px skyblue outset;
		border-radius:15px;

		font-size:60px;
		font-weight:bold;
	}
		#victory_return:hover {
			box-shadow:0 0 3pt 2pt white;
			cursor:pointer;
			cursor:hand;
		}
		#victory_return:active {
			background: #DEDEDE;
		}


/*=================================================================================================*/
/*※ EX-1. 이미지 선로딩 저장소*/
/*=================================================================================================*/
.imagePreloader {
	width:1px;
	height:1px;

	display:none;
}

/*=================================================================================================*/
/*※ EX-2. 기타*/
/*=================================================================================================*/





/*모바일 스크롤바 가시화*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
